# Managed by Ansible. Authentication data is not stored in this file.
approval_policy = "never"
allow_login_shell = false
check_for_update_on_startup = false
cli_auth_credentials_store = "file"
default_permissions = "atlas_workspace"
web_search = "disabled"

[history]
persistence = "none"
